<h1 class="text-pink-light w-75 mx-auto mt-5">Curiosidades</h1>

<p class="my-3 mx-auto w-75 text-secondary">

    A bandeira original tinha oito cores: Azul, verde, laranja, vermelho, roxo, amarelo, rosa e turquesa. Cada cor tinha
    um significado específico, mas a bandeira foi reduzida para seis cores devido a dificuldades de produção.

</p>

<div class="mx-auto w-75">

    <img src="/public/img/lgbtqiap.webp" class="img-fluid">

</div>

<p class="my-3 mx-auto w-75 text-secondary">
    
    A bandeira LGBT foi criada pelo artista gay americano Gilbert Baker em 1978. Ele foi solicitado a criar um símbolo
    para representar a comunidade LGBTQ+ e levou aproximadamente um mês para conceber a bandeira.

</p>

<p class="my-3 mx-auto w-75 text-secondary">

    Algumas pessoas argumentam que a bandeira LGBT não representa adequadamente todas as identidades e orientações
    sexuais dentro da comunidade LGBTQ+. Como resultado, houve várias tentativas de criar outras bandeiras para
    representar melhor a comunidade LGBTQ+.

</p>

<div class="mx-auto w-75" >

    <img src="/public/img/lgbt8.png" class="img-fluid">

</div>

<a id="sobre"></a>