<h1 class="text-pink-light w-75 mx-auto mt-5">História</h1>

<p class="my-3 mx-auto w-75 text-secondary">

    A história por trás da bandeira LGBT começa em 1978, quando o artista gay americano Gilbert Baker foi solicitado
    para criar um símbolo para representar a comunidade LGBTQ+. A bandeira original, composta por oito cores, foi
    apresentada pela primeira vez na Parade do Orgulho LGBTQ+ em San Francisco naquele ano.

</p>

<p class="my-3 mx-auto w-75 text-secondary">

    Cada cor da bandeira tinha um significado específico. Azul representava harmonia, verde representava natureza,
    laranja representava curiosidade, vermelho representava amor, roxo representava espírito, amarelo representava luz
    do sol, rosa representava sexualidade e turquesa representava arte.

</p>

<p class="my-3 mx-auto w-75 text-secondary">

    No entanto, devido a dificuldades de produção, a bandeira foi reduzida para seis cores: vermelho, laranja, amarelo,
    verde, azul e roxo. Essas cores foram escolhidas porque eram as mais fáceis de encontrar e produzir em grandes
    quantidades.


</p>

<div class="mx-auto w-75">

    <img src="/public/img/gilbert.webp" class="img-fluid">

</div>

<p class="my-3 mx-auto w-75 text-secondary">

    Desde então, a bandeira LGBT tem sido amplamente usada em todo o mundo como símbolo da luta pela igualdade e
    direitos das pessoas LGBTQ+. Ela é frequentemente exibida em marchas e eventos de direitos LGBTQ+ e é amplamente
    reconhecida como símbolo de apoio à comunidade LGBTQ+.

</p>

<p class="my-3 mx-auto w-75 text-secondary">

    Ao longo dos anos, a bandeira LGBT tem sido objeto de debates e controvérsias. Algumas pessoas argumentam que a
    bandeira não representa adequadamente todas as identidades e orientações sexuais dentro da comunidade LGBTQ+. No
    entanto, a bandeira continua sendo amplamente usada como símbolo da luta pela igualdade e respeito à diversidade.

</p>

<p class="my-3 mx-auto w-75 text-secondary">

    Em resumo, a bandeira LGBT é resultado de décadas de luta pela igualdade e direitos das pessoas LGBTQ+. Embora possa
    ser objeto de debates, ela continua sendo um símbolo importante da luta pela igualdade e apoio à comunidade LGBTQ+.

</p>