<h1 class="text-pink-light w-75 mx-auto mt-1">Bandeiras</h1>

<p class="my-3 mx-auto w-75 text-secondary" >

    A bandeira LGBT, também conhecida como bandeira do arco-íris, é um símbolo amplamente utilizado para
    representar a comunidade LGBT em todo o mundo. Criada por Gilbert Baker, uma artista gay americana, em 1978,
    a bandeira tem se tornado cada vez mais reconhecida como um símbolo da luta pelos direitos das pessoas
    LGBTQ+.

</p>

<p class="my-3 mx-auto w-75 text-secondary">
    A bandeira original tinha oito cores, cada uma representando um aspecto diferente da comunidade LGBTQ+. Azul
    representa a harmonia, verde representa a natureza, laranja representa a curiosidade, vermelho representa o
    amor, roxo representa o espírito, amarelo representa a luz do sol, rosa representa a sexualidade e turquesa
    representa a arte. No entanto, devido a dificuldades de produção, a bandeira foi reduzida para seis cores:
    vermelho, laranja, amarelo, verde, azul e roxo.

</p>

<p class="my-3 mx-auto w-75 text-secondary">

    Desde então, a bandeira do arco-íris tem sido exibida em vários eventos e marchas de direitos LGBTQ+,
    incluindo a Parade do Orgulho LGBTQ+ em San Francisco e em outras cidades em todo o mundo. Ela também é
    usada como símbolo de apoio e solidariedade à comunidade LGBTQ+.

</p>

<div class="mx-auto w-75">

    <img src="/public/img/lgbt.jpg" class="img-fluid">

</div>

<p class="my-3 mx-auto w-75 text-secondary">

    A bandeira LGBT tem sido objeto de debates e controvérsias, especialmente em relação à representação
    adequada da comunidade LGBTQ+. Algumas pessoas argumentam que a bandeira não representa adequadamente as
    várias identidades e orientações sexuais dentro da comunidade LGBTQ+. No entanto, a bandeira continua sendo
    amplamente utilizada como símbolo da luta pela igualdade e respeito à diversidade.


</p>

<p class="my-3 mx-auto w-75 text-secondary" id="historia">

    Em resumo, a bandeira LGBT é um símbolo importante da luta pelos direitos das pessoas LGBTQ+. Embora possa
    ser objeto de debates, ela continua sendo amplamente utilizada como um símbolo de apoio e solidariedade à
    comunidade LGBTQ+.

</p>