<div class="container pt-5 pb-3">

    <%- include('./includes/inicio') %>

    <%- include('./includes/historia') %>

    <%- include('./includes/curiosidade') %>

    <%- include('./includes/sobre') %>

</div>