<div class="container pt-5 pb-3">

    <%- include('./includes/inicio') %>

    <%- include('./includes/historia') %>

    <%- include('./includes/curiosidade') %>

    <%- include('./includes/sobre') %>

    <section class="">

        <div id="seeder-comentario">




        </div>
        <div id="comentarios">

        </div>

    </section>

</div>